<ion-content color="primary">
  <ion-card style="margin-top: 12em;">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Crea el formulario para poder utilizar las variables en login.page.ts -->
      <form [formGroup]="formularioLogin">
        <!-- Cada input debe ir con un label-->
        <ion-item>
          <!-- Texto del label -->
          <ion-label>Rut</ion-label>
          <ion-input formControlName="rut"></ion-input>
        </ion-item>
        <ion-item>
          <!-- Texto del label -->
          <ion-label>Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <ion-button expand="block" color="secondary" (click)="ingresar()" class="ion-color-dark ingre">Ingresar</ion-button>
      <ion-button color="secondary" [routerLink]="['/register']" class="ion-color-dark reg">Registrarse</ion-button>
      <p>
        <ion-icon color="warning" name="warning"></ion-icon> <ion-text color="warning">Si ha perdido la contraseña contactese con la administracion</ion-text>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>

