<ion-text color="primary" class="ion-text-center">
  <h1>Reserva tus cupos en nuestros gimnasios disponibles</h1>
</ion-text>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item *ngFor="let gimnasio of gimnasios">
      <ion-label>{{ gimnasio.sector }}</ion-label>
      <ion-item>
        <ion-label>Selecciona una hora y cupos:</ion-label>
        <ion-select [(ngModel)]="nombreGimnasioSeleccionado">
          <ion-select-option *ngFor="let opcion of obtenerHorasDisponibles()" [value]="opcion">
            {{ opcion.hora }} - {{ opcion.cupos }} cupos
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
