<ion-text color="primary" class="ion-text-center">
  <h1>Reserva tus cupos en nuestros gimnasios disponibles</h1>
</ion-text>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item *ngFor="let gimnasio of gimnasios">
      <ion-label>{{ gimnasio.sector }}</ion-label>
      <ion-item>
        <ion-label>Cupos:</ion-label>
        <ion-select [(ngModel)]="nombreGimnasioSeleccionado">
          <ion-select-option *ngFor="let opcion of gimnasio.opciones" [value]="opcion">
            {{ opcion.hora }} - {{ opcion.cuposDisponibles }} cupos disponibles
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button fill="outline" (click)="reservarCupo()">Reservar</ion-button>
    </ion-item>
  </ion-list>
  <ion-button (click)="salir()">Exit</ion-button>
</ion-content>
