<ion-header>
  <ion-toolbar>
    <ion-title> Menu de Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
  <ion-card-content>
  <form [formGroup]="formularioRegistro">
    <ion-item>
      <ion-label position="flotating">Rut <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="rut"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="flotating">Telefono <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="flotating">Telefono Emergencia <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="telefono_emergencia"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirmar Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="confirmar" type="password"></ion-input>
    </ion-item>
  </form>
    <ion-button (click)="guardar()">Registrarse</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
